{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="column">
        <h2>Welcome to Four Screams out of Five</h2></p>
        This site was created by students from Glasgow University for an assignment relating to web development using
        the Django web framework. A site created for film lovers, by film lovers. Our system is run by carefully curated
        reviewers who you know you can trust!</p>
        This careful selection process means that the reviews you read are written by those who we think know what they're
        talking about. Fear not however, as you will still get to voice your opinion on the movies you care for, by simply
        adding your rating to the film, it's overall score will be adjusted.</p>
        Should you value an certain person's opinion more than others, you also have the option to view their profile to
        see any other reviews they have written, and hopefully find movies you should watch or even avoid.</p>
        Thanks for visiting, and we hope to see you become a trusted reviewer and help to curate the many Horror Films
        the world has to offer!.
    </div>
{% endblock %}