{% extends 'base.html' %}

{% block title_block %}
    Reviewing {{film}}
{% endblock %}

{% block body_block %}
    {{user}}
    <h2>Register</h2>
    {% if reviewer %}
        <strong>Error. You have already reviewed {{film}}.</strong>
    {% else %}
   <form id="review_form" method="post" action="{% url 'rango:add_review' film.slug %}" enctype="multipart/form-data">
       {% csrf_token %}
       {% for hidden in form.hidden_fields %}
            {{hidden.errors}}
            {{hidden}}
       {% endfor %}
       {% for field in form.visible_fields %}
            {{ field.errors}}
            {{ field.help_text }}
            {{ field }}
            </br>
       {% endfor %}

       {{film}}

       <input type = "submit" name = "submit" value="Submit Review" />
   </form>
    {% endif %}


{% endblock %}