{% extends 'base.html' %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

    <div class="pageHead">

        {% if user.is_authenticated %}
        <strong> <font color="white"> Logged in as {{user}} {{user.reviewer.displayName}}</font></strong>
        {% endif %}

    </div>

<div class="row">
    <div class="column">
    <h2>Highest Rated by Reviewers:</h2>
    {% if films %}
        <ul>
            {% for film in films %}
                <li>
                    <a href="{% url 'rango:show_film' film.slug%}">{{ film.title }} : [{{ film.rating1 }} {{film.rating2}}/ 5]</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no films</strong>
    {% endif %}
        </div>

    <div class="column">
    <h2>Recent reviews:</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <a href="{% url 'rango:show_reviewer' review.reviewerID.slug%}">{{review.reviewerID}}</a>
                    left a review for: <a href="{% url 'rango:show_film' review.fkID.slug %}">{{review.fkID}}</a>.
                    At {{review.date}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No recent reviews</strong>
    {% endif %}
    </div>

    </div>


{% endblock %}