body{
    background-color: gray;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li{
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}


#nav li a{
    display: block;
    color: white;
    text-align: centre;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover{
    background-color: #111;
}

#nav li.active a{
    background-color: #4CAF50;
}

.column{
  margin: auto;
  width: 40%;
  border: 2px solid #333;
  padding: 10px;
  background-color: white;

}

.row{
    clear:both;
    text-align: centre;
}

.column h2{
    text-decoration: underline;
    display: inline-block;
    position: relative;
    text-align: center;
  background-color: white;

}





#user-input{
    width: 50%;

}

.search{
    text-align: center;
  border: 3px solid #333;
  background-color: white;
  padding: 10px;
}

.search p{

  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;

}

.pageBody{
  margin: auto;
  width: 40%;
  border: 2px solid #333;
  padding: 10px;
  background-color: white;
     overflow: auto;
}

.pageBody img{
   float: right;
   margin: auto;
}

.reviewBody{
  margin: auto;
  width: 40%;
  border: 2px solid #333;
  padding: 10px;
  background-color: white;
}

